<li><a href="/">Home</a></li>
<div>
    <h1>Title:</h1>

        {{#each items}}
        <div>
    <script>
        function play() {
        const audio = document.getElementById("{{id}}");
        audio.play();
        }
        function pause() {
        const audio = document.getElementById("{{id}}");
        return audio.pause();
        }

       </script>     
            <audio id="{{id}}" src="{{preview_url}}"></audio>
            <p>{{name}}</p>
            <input type="button" value="PLAY" onclick="play()">
            <input type="button" value="PAUSE" onclick="pause()">

</div>
        {{/each}}
</div>